---
import Hero from "../sections/Hero.astro"
import AboutUs from '../sections/AboutUs.astro'
import OurWork from '../sections/OurWork.astro'
import Services from '../sections/Services.astro'
import WhyWeGood from '../sections/WhyWeGood.astro'
import Portfolio from "../sections/Portfolio.astro"
import Footer from '../components/Footer.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout>
	<main>
		<Hero/>
		<AboutUs/>
		<OurWork/> 
		<Services/>
		<WhyWeGood/>
		<Portfolio/>
	</main>
	<Footer/>
</BaseLayout>
