---

---
<footer>
    <h2>Напишите нам</h2>
    <a href="/form" class="button">Написать нам</a>
</footer>
<style>
footer {
    padding-block:80px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom,var(--c-gradient1),var(--c-gradient2));
}

</style>