---

---
<section id="about-us">
    <div class="container">
        <h2>О нас</h2>
        <p>Наше агентство занимается созданием и поддержкой веб-сайтов. Вы можете заказать у нас, как полный цикл разработки, так и доработку уже готового сайта. 
            Мы обладаем большим опытом и хорошими отзывами. Всегда стремимся сделать свою работу качественно и в оговоренные сроки. А цены у нас одни из самых низких на рынке.</p>

    </div>

</section>


<style>
.container {

}
section {
    padding: 4rem 0;
}
h2 {
    text-align: center;
}

</style>