---

---
<section>
    <h1>Мы создаем сайты</h1>
    <a href="/#about-us" class="button">Познакомиться с нами</a>
</section>

<style>
section {
    min-height: 100vh;
    background-image: linear-gradient(
        to bottom,
        var(--c-gradient1),
        var(--c-gradient2)
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: 900;
    color: white;
    text-shadow: 0.4rem 0.4rem 2px var(--c-shadow) ;
}
</style>